.container {
    margin-top: 10PX;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    outline-style: solid;
    outline-width: 1px;
  }

  .container2 {
    margin-top: 20PX;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }

h3 {
    font-style: italic;
  }

#manage {
    margin-top: 50px;
}

#manage h1 {
  color: darkred;
  text-decoration: underline;
}

.container2 h1 {
  color: darkred;
  text-decoration: underline;
}

#instructions #header h1 {
  font-size: 38px;
  font-weight: 600;
}

#instructions {
  background-color: darkred;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}